  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@700&family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
}

:root{
    --background-clean: white;
    --cor-da-empresa: red;
}

.cabecalho{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/imagens/gas.jpeg);
}

.menu .ul-menu{
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    }

.ul-menu li{
    list-style: none;
    padding: 2rem;
}

 .bi-person-bounding-box{
    color: var(--cor-da-empresa);
    font-size: 40px;
}

ul li#imagem-localizacao{
    display: flex;
    padding-right: 0;
    padding-left: 5rem;
    margin-right: .8rem;
    align-items: center;
}

.bi-geo-alt{
    color: var(--cor-da-empresa);
    font-size: 40px;
    }

.nome-localizacao{
    color: var(--cor-da-empresa);
    font-size: 40px;
    padding-left: 0;
    padding-right: 5rem;
    
}

.bi-image{
    color: var(--cor-da-empresa);
    font-size: 40px;
}

section#mensagens-inicio{
    padding: 2rem;
    background-color: var(--background-clean);
}

.mensagem{
    color: grey;
    font-size: 25px;
}

section#input{
    display: flex;
    padding-top: .5rem;
    width: 90%;
    margin: auto;
}

i.bi-search{
    position: absolute;
    padding-top: .25rem;
    padding-left: 4rem;
    font-size: 40px;
}

#input-text{
    width: 90%;
    margin: auto;
    font-size: 25px;
    padding: 1.25rem 0 1.2rem;
    padding-left: 4rem;
    border: 2mm ridge;
    text-align: center;
}

input:focus{
    outline: none;
}

.footer{
    background-color: var(--background-clean);
    margin-top: 5rem;
}

input[type=text]{
    color: grey;
}

section#categorias{
   display: flex;
}

#categoria-ul{
    display: flex;
    justify-content: center;
}

.categoria-a{
   margin: 3rem 5rem;
   text-decoration: none;
   justify-content: center;
}

li.Categoria{
   margin: auto;
   color: gray;
   list-style: none;
   border: solid 1px var(--cor-da-empresa);
   border-radius: 2rem;
   width: 90%;
   padding: 2rem;
   margin: 1.2rem;
   font-weight: 300;
   text-align: center;
}

.footer-card{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-card li{
    list-style: none;
}

.footer-card a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.footer-item{
    margin: .5rem;
}

i.bi-house, i.bi-emoji-smile, i.bi-upc-scan, i.bi-cart4, i.bi-stickies{
    color: var(--cor-da-empresa);
    font-size: 40px;
}

.footer-nome-item{
    font-size: 20px;
    font-weight: 700;
    color: gray;
}
